# Files to ignore when adding and committing files to a repository
.DS_Store
Thumbs.db

*.py[cod]
*$py.class

##Python Cache Files
__pycache__

### Virtual Environment 
.venv/
venv/

### VsCode files
.vscode/

### Simulation of an env file
env.txt
.env.txt

uploads/