.card{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    min-width: 0;
    background-color: $white;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

    &-h{
        height: 59%;
    }

    &-img{
        width: 100%;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
    }

    &-body{
        display: flex;
        flex-direction: column;
    }

    &-title{
        font-size: 16px;
        font-weight: 600;
        padding: 1rem 1rem 0 1rem;
    }

    &-text{
        font-size: 13px;
        font-weight: 300;
        color: $black;
        padding: 1rem;
    }

    &-footer{
        padding: 0.75rem 1.25rem;
        background-color: $mBlue;
        border-top: 1px solid $mBlue;
        text-align: center;

        &:last-child {
            border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
        }

        a{
        color: #fff;
        margin: 0 auto;
        font-weight: 500;
        &:hover{
                cursor: pointer;
            }
        }

        .to-hide,.btn-a{
            background-color: white;
            color: $mBlue;
            padding: 0.3rem;
            border-radius: 3px;
            font-size: 18px;
            font-weight: 800;
        }

        .break{
            margin-right: 8px;
        }
    }

    &-g{
        background-color: $cultured;
        width: 400px;
    }

    .bi{
        &-x{
            margin-left: 580px;
            &:hover{
                cursor: pointer;
            }
        }
        &-plus{
            margin: 150px auto;
            &:hover{
                cursor: pointer;
                opacity: 0.75;
            }
        }
        
    }
}

.img9{
    height: 40%;
}