.top{
    padding: 6% 0% 6% 9%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    &-login{
        padding: 9% 0% 9% 6%;
    }
    img{
        width: 90%;
        height: auto;
    }
    .landing{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        h1{
            align-self: flex-start;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        .special{
            font-weight: normal;
            margin-top: 5px;
            font-size: 28px;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }
        h2{
            align-self: flex-start;
            font-weight: normal;
            letter-spacing: 2px;
            margin-top: 10px;
        }      
        hr{
            width: 50%;
            height: 1px;
            border: 1px solid $pOrange;
            margin-left: 0px;
            color: $pOrange;
        }
    }
    .button-group{
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .btn{
            color: $white;
            padding: 16px;
            width: 130px;
            border-style: none;
            border-radius: 15px;
            font-weight: 400;
            font-size: 18px;
            &:hover{
                opacity: 0.75;
                transition: all 300ms ease-in-out;
                cursor: pointer;
            }
        }
        .blue{
            background-color: $mBlue;
        }
        .orange{
            background-color: $dOrange;
            margin-left: 10px;
        }
    }
    
}

.bottom{
    padding: 10% 5%;
    background-color: $lBlue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20%;
    gap: 10vw;
    .left{
        width: 80%;
        margin-left: 10%;
        background-color: $white;
        display: flex;
        
        justify-content: center;
        align-items: center;
        img{
            width: 90%;
            height: 85%;
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3{
            align-self: flex-start;
            font-size: 32px;
            color: $white;
            margin-bottom: 0px;
        }
        p{
            color: $white;
        }
        hr{
            width: 45%;
            background-color: $white;
            height: 8px;
            border: 1px solid $white;
            margin-left: 0px;
            color: $white;
        }
    }
}

//Menu
a{ 
    color: $white;
    font-size: 20px;

    &:link{
        text-decoration: none;
    }
}

.edit-form{
    background: $cultured;
    margin: 0 auto;
    padding: 1.625rem;

}

img{
    border-style: none;
    vertical-align: middle;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
    .card-set{
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 3rem;
}
}



.confirm{
    background-color: $cultured;
    position: absolute;
    margin: 0 auto;
    border-radius: 3px;
    width: 40rem;
    transform: translate(38%);
    font-weight: 900px;
    padding-top: 1rem;

    a {
      &:hover {
        opacity: 0.75;
        transition: all 300ms ease-in-out;
        cursor: pointer;
      }
    }
}

.back {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient($cultured, transparent);
  }

  .item-info{
      display: flex;
      flex-direction: column;
  }

  .items{
      display: flex;
      flex-direction: row;

      p{
          padding-right: 1rem;
      }
  }

  .contain{
      display: flex;
      flex-direction: row;
      justify-content: center;

      img{
          padding-left: 2rem;
      }

      h3{
          font-size: 30px;
      }
  }

  .oc{
      text-align: center;
  }

.cell{
    display: flex;
    justify-content: space-between;
    p{
        margin: 5px 0px;
    }
    border-bottom: 2px solid $black;
}

.hide{
    display: none;
}