html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.pads {
  max-width: 69.375rem;
  margin: 0 auto;
}

.pads-pa {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

.pads-ptb {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.pads-plr {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-spacebtw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-cent {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-alnitems {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  font-size: 1.125rem;
  color: #000000;
  font-weight: 300;
}

.header {
  position: relative;
  -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
}

.header a {
  color: #000000;
  font-size: 18px;
  font-weight: 300;
}

.header a:link {
  text-decoration: none;
}

.header a:hover {
  opacity: 0.75;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.header .two {
  border-radius: 3px;
  padding: 9px 16px;
  font-weight: 700;
}

.header .two-btn1 {
  background-color: #0580C3;
  color: #ffffff;
}

.header .two-btn2 {
  background-color: #ffffff;
  border: solid 1px #0580C3;
  color: #0580C3;
}

.header .two-btn3 {
  background-color: #ffffff;
  border: solid 1px #0580C3;
  color: #0580C3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #C4C4C4;
  margin-right: 20px;
}

.header nav {
  padding-top: 1.065rem;
  padding-bottom: 1.065rem;
}

.footer {
  background-color: #4F6A78;
  color: #ffffff;
  padding: 1.0625rem;
  font-size: 1.125rem;
  width: 100%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  width: 20rem;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-h {
  height: 80%;
}

.card-img {
  width: 100%;
  height: 70%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 1rem;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  padding: 1rem 1rem 0 1rem;
}

.card-text {
  font-size: 13px;
  font-weight: 300;
  color: #000000;
  padding: 1rem;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #0580C3;
  border-top: 1px solid #0580C3;
  text-align: center;
}

.card-footer a {
  color: #fff;
  margin: 0 auto;
  font-weight: 500;
}

.card-footer a:hover {
  cursor: pointer;
}

.card-footer .to-hide, .card-footer .btn-a {
  background-color: white;
  color: #0580C3;
  padding: 0.3rem;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 800;
}

.card-footer .break {
  margin-right: 8px;
}

.card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card-g {
  background-color: #F5F5F5;
  width: 400px;
}

.card .bi-x {
  margin-left: 580px;
}

.card .bi-x:hover {
  cursor: pointer;
}

.card .bi-plus {
  margin: 150px auto;
}

.card .bi-plus:hover {
  cursor: pointer;
  opacity: 0.75;
}

section {
  padding: 3%;
  background-image: url("/static/img/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

section .points {
  width: 18%;
  height: 8vh;
  background-color: #CF6E45;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .points h1 {
  margin-top: 10%;
}

section .first {
  font-size: 48px;
  margin: 10px 0px;
}

section h2 {
  font-weight: normal;
  margin-bottom: 30px;
}

section a {
  color: #ffffff;
}

section a:link {
  text-decoration: none;
}

section .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

section .grid .card-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .grid .card-holder a {
  font-size: 18px;
}

section .grid .card-holder .card {
  padding: 20px 10px;
  margin-bottom: 10%;
  width: 90%;
  background-color: #0580C3;
  border-radius: 10px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section .grid .card-holder .card:hover {
  opacity: 0.75;
}

section .grid .card-holder .card .circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #E2BDA5;
  margin: 0px 20px;
}

section .grid .card-holder .card h3 {
  margin-bottom: 0px;
}

section .grid .card-holder .card p {
  font-weight: 500;
  width: 95%;
}

section .grid .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .grid img {
  width: 90%;
  height: auto;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.no-back {
  background-image: none;
}

.no-orders {
  margin-top: auto;
  margin-bottom: auto;
}
/*# sourceMappingURL=staff.css.map */