{% extends 'base.html'%} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dashboard.css')}}"
/>
{% endblock %} {% block main %}
<section>
  {% include 'flashmssgs.html' %} {% if type == "C" %}
  <div class="points">
    <h1>Points: 0000</h1>
  </div>
  <h1 class="first">Dashboard</h1>
  <h2>Welcome, User</h2>
  <div class="grid">
    <div class="card-holder">
      <a href="{{ url_for('menu')}}">
        <div class="card">
          <div class="circle"></div>
          <div>
            <h3>Make Order</h3>
            <p>Make your orders online with ease</p>
          </div>
        </div>
      </a>
      <!--edit profile here-->
      <a href="{{url_for('editProfile')}}">
        <div class="card">
          <div class="circle"></div>
          <div>
            <h3>Edit Profile</h3>
            <p>View your profile or edit your profile information</p>
          </div>
        </div>
      </a>
    </div>
    <div class="image">
      <img
        src="{{url_for('static', filename='img/dash.svg')}}"
        alt="Personal Preferences"
      />
    </div>
  </div>
  {% elif type == "M"%}
  <h1 class="first">Dashboard</h1>
  <h2>Welcome, User</h2>
  <div class="grid">
    <div class="card-holder">
      <a href="{{ url_for('menu')}}">
        <div class="card">
          <div class="circle"></div>
          <div>
            <h3>Edit Menu</h3>
            <p>Add, edit or delete current menu items</p>
          </div>
        </div>
      </a>
      
      <div class="card">
        <div class="circle"></div>
        <div>
          <h3>Generate Report</h3>
          <p>Generate daily, monthly or yearly reports</p>
        </div>
      </div>
      <a href="{{ url_for('addStaff')}}">
        <div class="card">
          <div class="circle"></div>
          <div>
            <h3>Create Staff Account</h3>
            <p>Create a Staff Account</p>
          </div>
        </div>
      </a>
    </div>
    <div class="image">
      <img
        src="{{url_for('static', filename='img/dash.svg')}}"
        alt="Personal Preferences"
      />
    </div>
  </div>
  {% else%}
  <h1 class="first">Dashboard</h1>
  <h2>Welcome, User</h2>
  <div class="grid">
    <div class="card-holder">
      <a href="{{ url_for('vieworders')}}">
        <div class="card">
          <div class="circle"></div>
          <div>
            <h3>View Orders</h3>
            <p>Viewing Customer Orders</p>
          </div>
        </div>
      </a>
  {% endif %}
</section>
{% endblock %}
