{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/signin.css')}}"
/>
{% endblock %} {% block main %}
<div class="main">
  <div class="image">
    <div class="ellipse ellipse1"></div>
    <div class="ellipse ellipse2"></div>
    <div class="ellipse ellipse3"></div>
  </div>
  {% include 'flashmssgs.html' %}
  <div class="signup-right">
    <h1>Edit Profile Information</h1>
    <h2>Please enter information you would like to edit</h2>
    {% include 'flash.html'%}

    <h3>Profile Information</h3>
    <ol>
      {% for info in info %}
        <li>{{ info }}</li>
      {% endfor %}
    </ol>
    <form action="/edit-profile" method="POST">
      {{form.csrf_token }}
      <div class="form-group">
        {{ form.opassword(placeholder="Old Password")}} 
        {{form.npassword(placeholder="New Password")}}
      </div>
      <div class="form-group-row">
        {{ form.email(placeholder="Email")}} 
        {{form.telenum(placeholder="Telephone Number")}}
      </div>
      <div class="form-group-row">
        {{ form.streetnum(placeholder="Street Number")}} 
        {{form.streetname(placeholder="Street Name")}}
      </div>
      <div class="form-group">
        {{ form.town(placeholder="Town")}} 
        {{form.parish(placeholder="Parish")}}
      </div>
      <button class="btn orange" type="submit">Submit Changes</button>
    </form>
    
  </div>
</div>
<!-- <br><br> -->
{% endblock %}
