{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/signin.css')}}"
/>
{% endblock %} {% block main %}
<div class="main">
  <div class="image">
    <div class="ellipse ellipse1"></div>
    <div class="ellipse ellipse2"></div>
    <div class="ellipse ellipse3"></div>
  </div>
  <div class="signup-right">
    <h1>Edit Profile Information</h1>
    <h2>Please enter information you would like to edit</h2>
    {% include 'flash.html'%}
    <form action="{{ url_for('editProfile')}}" method="POST">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.username(value=info.getUname()) }}
        {{ form.npassword(placeholder="New Password") }}
        {{ form.confirm(placeholder="Repeat Password") }}
      </div>
      <div class="form-group-row">
        {{ form.email(value=info.getEmail()) }} 
        {{ form.telenum(value=info.getTeleNum()) }}
      </div>
      <div class="form-group-row">
        {{ form.streetnum(value=info.getAddress().getstreetnum()) }} 
        {{ form.streetname(value=info.getAddress().getstreetname()) }}
      </div>
      <div class="form-group">
        {{ form.town(value=info.getAddress().gettown()) }} 
        {{ form.parish(value=info.getAddress().getparish()) }}
      </div>
      <button class="btn orange" type="submit">Submit Changes</button>
    </form>

  </div>
</div>
<!-- <br><br> -->
{% endblock %}
