{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/signin.css')}}"
/>
{% endblock %} {% block main %}
<div class="main">
  <div class="image">
    <div class="ellipse ellipse1"></div>
    <div class="ellipse ellipse2"></div>
    <div class="ellipse ellipse3"></div>
  </div>
  {% include 'flashmssgs.html' %}
  <div class="signup-right">
    <h1>Edit Profile Information</h1>
    <h2>Please enter information to create an account.</h2>
    {% include 'flash.html'%}
    <form action="/signup" method="POST">
      {{form.csrf_token }}
      <div class="form-group-row">
        {{ form.fname(value=user.getName().getFname() ) }} 
        
        {{ form.lname(value = user.getName().getLname() )}}
      </div>
      <div class="form-group">
        {{ form.username(value = user.getUname() )}} 
        {{form.password(value = user.getPassword() )}}
      </div>
      <div class="form-group-row">
        {{ form.email(value = user.getEmail() )}} {{
        form.telenum(value = user.getTeleNum() )}} 
      </div>
      <div class="form-group-row">
        {{ form.streetnum(value = user.getAddress().getstreetnum() )}} {{
        form.streetname(value = user.getAddress().getstreetname() )}}
      </div>
      <div class="form-group">
        {{ form.town(value = user.getAddress().gettown() )}} {{
        form.parish(value = user.getAddress().getparish() )}}
      </div>
      <button class="btn orange" type="submit">Submit Changes</button>
    </form>
    
  </div>
</div>
<!-- <br><br> -->
{% endblock %}
