{% extends "base.html" %} 

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css')}}">
{% block css %}{% endblock %}
<div class="top">
    <img src="{{url_for('static', filename = 'img/healthy.svg')}}" alt="man-with-cell-phone"/>
    <div class="landing">
        <h1>Ordering Online</h1>
        <h1 class="special">has never been so easy !</h1>
        <hr>
        <h2>Want to get started ?</h2>
        <div class="button-group">
            <a href="{{url_for('login')}}"><button class="btn blue">Log In</button></a>
            <a href="{{url_for('signup')}}"><button class="btn orange">Sign Up</button></a>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="left">
        <img id="pizza-img" src="{{url_for('static', filename = 'img/pizza.jpg')}}" alt="nice-looking-pizza">
    </div>
    <div class="right">
        <h3>Wide Variety to Choose</h3>
        <hr>
        <p>
            Pizza Hut provides you with the most mouthwatering delicacies in the entire island. 
            Whether you are feeling for a steaming hot Hawaiian pizza or want to keep it simple with  
            our freshly baked cheesesticks, we have your next meal ready for you! Order now!
        </p>
    </div>
</div>
{% endblock %}