{% extends 'base.html' %} 
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css')}}">
{% endblock %}

{% block main%}

<section class="pads container">
    {% if type == "C" %}
    <div class="head">
        <h1>Menu</h1> 
        <a href="" class="checkout" style="color: black;">Checkout</a>
    </div>
    <div class="back has-fade"></div>
    <div class="confirm card has-fade">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <p class="card-title" style="text-align: center;">Your Order</p>
        <div class="item-info card-body">
            <div class="order-info"></div>
            <form action="#">
                <label for="type">Choose Checkout Option:</label>
                <select name="type" id="cars">
                    <option value="P">In-Store Pick-Up</option>
                    <option value="D">Delivery</option>
                </select>
            </form>
        </div>            
        <div class="card-footer">
            <a href="">Confirm</a>
        </div>
    </div>
    <div class="card-set">
        {% for item in items %}
            <div class="card card-h" id={{ item.getNum() }}>
                <img src="{{ url_for('get_image', filename= item.getImageName()) }}" alt="" class="card-img">
                <div class="card-body">
                    <h5 class="card-title">{{ item.getName() }}</h5>
                    <p class="card-text"> {{ item.getDescription() }}</p>
                </div>
                <div class="card-footer">
                    <a href="">Add to Order</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="head">
        <h1>Edit Menu</h1> 
    </div>
    <div class="back has-fade"></div>
    <div class="confirm card dd has-fade">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <div class = "itemadd"> <p class="card-title" style="text-align: center;">Add Item</p> </div>
        <form action="{{ url_for('menu') }}" method="POST" enctype="multipart/form-data">
            {{ edit_form.csrf_token }}
            <div class="card-body">
                <div class="form-group-row"> 
                    {{edit_form.name(placeholder="Name", id = "iname")}} 
                </div>
                <div class="form-group-row">
                    {{edit_form.price(placeholder="Price", id = "iprice")}}
                </div>
                <div class="form-group-row">
                    {{edit_form.tag(placeholder="Tag", id = "itag")}}
                </div>
                <div class="form-group-row">
                    {{edit_form.description(placeholder="Description", id = "ides")}}
                </div>
                <div class="form-group-row">
                    {{edit_form.image(id = "iimg")}}
                </div>
                <!-- <p class="card-text"></p> -->
            </div>            
            <div class="card-footer">
                <button class="save" id = "addbtn" type="submit">Add Item</button></div>
        </form>
    </div>
    <div class="card-set">
        {% for item in items %}
            <div class="card card-h icard" id={{ item.getNum() }}>
                <img src="{{ url_for('get_image', filename= item.getImageName()) }}" alt="" class="card-img">
                <div class="card-body">
                    <h5 class="card-title">{{ item.getName() }}</h5>
                    <p class="card-text"> {{ item.getDescription() }}</p>
                </div>
                <div class="card-footer">
                    <a href="#" id="ham" class="edititem">Edit Item</a><br/>
                    <a href="#" class="deletebtn" value="{{item.getNum()}}">Delete Item</a><br/>
                </div>
            </div>
        {% endfor %}
        <a href="{{ url_for('menu') }}" style="color: gray;" class = "additem">
            <div class="card card-h card-add">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </div>
            </div>
        </a>
    </div>
    <div class="confirm card dd has-fade">
        <form action="{{ url_for('menu') }}" method="POST">
            {{ edit_form.csrf_token }}
            {% for input in edit_form if input.widget.input_type != "hidden" %}
                <div class="field">
                    {{ input.label }}
                    {{ input }}
                </div>
            {% endfor %}
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
    {% endif %}
</section>

{% endblock %}

{% block js %}
{% if type == "C" %}
 <script src="{{ url_for('static', filename='js/menu.js')}}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/mmenu.js')}}"></script>
{% endif %}
{% endblock %}