{% extends "base.html" %} 
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reports.css')}}">
{% endblock %}
{% block main %}

<div class="main pads container">
    <h1>Report Generation</h1>
    <form method='POST' action="{{ url_for('generate_rep')}}">
        {{ form.csrf_token }}
        
        {{ form.reptype.label }}
        {{ form.reptype }}

        {{ form.year.label }}
        {{ form.year }}

        {{ form.month.label }}
        {{ form.month }}

        {{ form.day.label }}
        {{ form.day }}

        {{ form.filter_by.label }}  
        {{ form.filter_by }}

        <button type="submit"> Submit</button>
    </form><br>
    {% if items != None %}
    <h1>Reporting : {{ reptype }} Report</h1>
    <div class="table-data">
        <table>
            <thead>
                <tr>
                    <td>Item Name</td>
                    <td>Amount Sold</td>
                </tr>
            </thead>
            <tbody>
                {% for key in items.keys() %} 
                    <tr>
                        <td>{{ key }}</td>
                        <td class="data">{{ items[key] }}</td>   
                    </tr> 
                {% endfor %}
                <tr> 
                    <td class="total">TOTAL</td> 
                    <td class="data total dollar">${{ total }}0</td>
                </tr>
            </tbody>
        </table><br>
    </div> 
    {% endif %}
</div>
{% endblock %}
