{% extends "base.html" %} 

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css')}}">
{% endblock %}
{% block main %}
<div class="top top-signup">
    <img src="{{url_for('static', filename = 'img/login.svg')}}" alt="woman-trying-to-get-authorised" /> 
    <div class='signup-right'>
        <h1>Sign Up</h1>
        {% include 'flash.html'%}
        <form action="/signup" method="POST">
            {{form.csrf_token }}
            <div class="form-group">
                {{ form.fname(placeholder="First Name")}}
                {{ form.lname(placeholder="Last Name")}}
                {{ form.email(placeholder="Email")}}
                {{ form.username(placeholder="Username")}}
                {{ form.telenum(placeholder="Telephone Number")}}
                {{ form.streetnum(placeholder="Street Number")}}
                {{ form.streetname(placeholder="Street Name")}}
                {{ form.town(placeholder="town")}}
                {{ form.parish(placeholder="Parish")}}
                {{ form.password(placeholder="Password")}}
            </div>
            <button class="btn blue" type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{{url_for('login')}}">Login Here</a></p>
    </div>
</div>
{% endblock %}