{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css')}}">
{% endblock %}

{% block main %}
    <section class="pads container">
        <div class="head">
            <h1>All Orders</h1>
        </div>
        {%  if orders != [] %}
            <div class="card-set">
                {% for order in orders %}
                    <div class="card card-h">
                        <div class="card-body">
                            <div class="card-title">{{order.order_num}}</div>
                            <div class="card-text">
                                <ul>
                                    {% for item in orderdict[order.order_num] %}
                                    <li>{{item}}</li>
                                    {% endfor %}
                                </ul>
                                {{order.total_price}} 
                            </div> 
                        </div> 
                        <div class="card-footer">
                            <a href="{{ url_for ('markcancelled', order_num = order.order_num)}}" class="to-hide">Cancel</a>
                            <a href="{{ url_for ('markcomplete', order_num = order.order_num)}}" class="to-hide">Complete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="no-orders">
            <h2>Currently, there are no new orders.</h2>
            <h4>Thank you!</h4>
        </div>
        {% endif %}
    </section>
{% endblock %}

{% block js %}
 <script src="{{ url_for('static', filename='js/staff.js')}}"></script>
{% endblock %}